* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  gap: 5rem;
  padding: 1rem;
  font-size: 2rem;
  background-color: black;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-image: url("https://fastly.picsum.photos/id/12/2500/1667.jpg?hmac=Pe3284luVre9ZqNzv1jMFpLihFI6lwq7TPgMSsNXw2w");
}
